@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background) !important;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.header-section {
  display: flex;
  padding-top: 40px;
  align-items: center; /* Alinha verticalmente */
  gap: 300px; /* Espaçamento entre a foto e os títulos */
}
@media (max-width: 768px) {
  .header-section {
    flex-direction: column; /* Empilha os elementos em dispositivos menores */
    align-items: center;
  }
}
h1 {
  font-size: 35px;
  font-weight: bold;
  padding-top: 40px;
  padding-left: 40px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: #00194d;
  padding-top: 10px;
  padding-left: 80px;
}

h3 {
  font-size: 100px;
  font-weight: bold;
  padding-left: 40px;
  margin-bottom: -40px;
}
h4 {
  font-size: 100px;
  font-weight: bold;
  padding-left: 250px;
  margin-top: 0;
}

h5 {
  font-size: 50px;
  font-weight: bold;
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: center;
  color: #3e89b9;
}

h6 {
  font-size: 50px;
  font-weight: bold;
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: center;
  color: #3e89b9;
}

p {
  font-size: 22px;
  padding-left: 40px;
  text-align: justify;
  padding-top: 20px;
}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap; /* Permite quebra de linha se necessário */
  margin-top: 45px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.skill p {
  font-size: 18px;
  margin-top: 10px;
  color: #3e89b9;
}

.skill img {
  display: block;
}

.inputs {
  margin-top: 50px;
  margin-left: -700px;
  padding: 1rem;
}
